body {
  font-family: $ff-primary;
}

input {
  inline-size: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: textfield; /* Chrome, Safari, newer versions of Opera */
}

fieldset {
  border: 0;
}

.logo {
  inline-size: 3.25rem;
}

.header {
  padding: 2rem 1rem 1rem;
  background: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  min-block-size: 46vh;
}

.container--header {
  position: relative;
  inline-size: min(100%, 500px);
  margin: 0 auto;
}

// .bg-img {
//   position: absolute;
//   top: 0;
//   left: 0;
// }

.main {
  padding: 5.5rem 1.5rem 1.5rem;
}

.wrapper {
  position: relative;
}

.card {
  z-index: 1;
  inline-size: fit-content;
  color: white;
  inline-size: clamp(17.8rem, 14.1rem + 15.8vw, 27.9rem);
  position: absolute;

  &--front {
    // position: absolute;
    z-index: 2;
    inset-block-start: 6rem;
    // inset-inline-end: 0;
  }

  &--front &-content-wrapper {
    position: absolute;
    z-index: 1;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    block-size: 100%;
    padding: 1.2rem 1.3rem;
  }

  &__section {
    display: grid;
    gap: 1rem;
  }

  &--back {
    // position: absolute;

    inset-inline-end: 0;
    inset-block-start: 0;
  }

  &--back &__code {
    position: absolute;
    inset-block-start: 45%;
    inset-inline-end: 13%;
    letter-spacing: 1px;
    font-size: 0.6rem;
  }

  &__number {
    font-size: 1.1rem;
    letter-spacing: 2.5px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    letter-spacing: 0.75px;

    &__user {
      text-transform: uppercase;
    }
  }
}

.form {
  display: grid;
  gap: 1.25rem;
  &__field {
    display: grid;
    gap: 0.5rem;
    &-wrapper {
      display: flex;
      gap: 0.7rem;
      & .form__field {
        flex: 1;
      }
    }
    &__input {
      border-radius: 8px;
      border: 1px solid $clr-violet-grayish-light;
      padding: 0.75rem 1rem 0.5rem;
      &-wrapper {
        display: flex;
        gap: 0.5rem;
      }
      &::placeholder {
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        color: $clr-violet-grayish-light;
      }
    }

    &__label {
      font-weight: $fw-primary;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}

.btn {
  border-radius: 8px;
  background-color: $clr-violet-very-dark;
  border: 0;
  padding: 0.75rem;
  color: $clr-white;
  font-size: $fs-primary;
  cursor: pointer;
}

.message {
  display: grid;
  gap: 3rem;
  &__section {
    display: grid;
    justify-items: center;
    gap: 2rem;
    &__context {
      text-align: center;
      gap: 1rem;
      &__heading {
        text-transform: uppercase;
        letter-spacing: 2.5px;
      }
    }
  }
}

.no-display {
  display: none;
}

@media (min-width: 769px) {
  body {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    inline-size: 5rem;
  }

  .header {
    background: url("../assets/bg-main-desktop.png");
    flex: 1 1 32%;
    background-position: center;
    // min-block-size: 46vh;
  }

  .card {
    // inline-size: 27.9rem;
    &__number {
      font-size: 1.75rem;
      letter-spacing: 3px;
    }
    &__details {
      font-size: 1rem;
    }

    &--front {
      inset-block-start: 1vh;
      inset-inline-end: -8.75rem;
    }

    &--front &-content-wrapper {
      padding: 2.25rem 2.25rem 1.2rem;
    }

    &--back {
      inset-inline-end: -15rem;
      inset-block-start: 45vh;
    }

    &--back &__code {
      font-size: 1rem;
    }
  }

  .main {
    flex: 1 1 65%;
    display: grid;
    place-items: center;
  }

  .form {
    inline-size: min(100%, 370px);
    gap: 1.5rem;
  }
}
