/* Box sizing, margin and padding rules*/
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 1px solid black;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-padding-block-start: 5rem;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  inline-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  outline: transparent;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

input {
  inline-size: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: textfield; /* Chrome, Safari, newer versions of Opera */
}

fieldset {
  border: 0;
}

.logo {
  inline-size: 3.25rem;
}

.error {
  color: hsl(0, 100%, 66%);
  font-size: 0.75rem;
  font-weight: 500;
}

.header {
  padding: 2rem 1rem 1rem;
  background: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  min-block-size: 46vh;
}

.container--header {
  position: relative;
  inline-size: min(100%, 500px);
  margin: 0 auto;
}

.main {
  padding: 5.5rem 1.5rem 1.5rem;
}

.wrapper {
  position: relative;
}

.card {
  z-index: 1;
  inline-size: fit-content;
  color: white;
  inline-size: clamp(17.8rem, 14.1rem + 15.8vw, 27.9rem);
  position: absolute;
}
.card--front {
  z-index: 2;
  inset-block-start: 6rem;
}
.card--front .card-content-wrapper {
  position: absolute;
  z-index: 1;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100%;
  padding: 1.2rem 1.3rem;
}
.card__section {
  display: grid;
  gap: 1rem;
}
.card--back {
  inset-inline-end: 0;
  inset-block-start: 0;
}
.card--back .card__code {
  position: absolute;
  inset-block-start: 45%;
  inset-inline-end: 13%;
  letter-spacing: 1px;
  font-size: 0.6rem;
}
.card__number {
  font-size: 1.1rem;
  letter-spacing: 2.5px;
}
.card__details {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  letter-spacing: 0.75px;
}
.card__details__user {
  text-transform: uppercase;
}

.form {
  display: grid;
  gap: 1.25rem;
}
.form__field {
  display: grid;
  gap: 0.5rem;
}
.form__field-wrapper {
  display: flex;
  gap: 0.7rem;
}
.form__field-wrapper .form__field {
  flex: 1;
}
.form__field__input {
  border-radius: 8px;
  border: 1px solid hsl(270, 3%, 87%);
  padding: 0.75rem 1rem 0.5rem;
}
.form__field__input-wrapper {
  display: flex;
  gap: 0.5rem;
}
.form__field__input::placeholder {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  color: hsl(270, 3%, 87%);
}
.form__field__input:focus-visible {
  outline-color: hsl(279, 6%, 55%);
}
.form__field__label {
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.btn {
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  border: 0;
  padding: 0.75rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.125rem;
  cursor: pointer;
}

.message {
  display: grid;
  gap: 3rem;
}
.message__section {
  display: grid;
  justify-items: center;
  gap: 2rem;
}
.message__section__context {
  text-align: center;
  gap: 1rem;
}
.message__section__context__heading {
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.no-display {
  display: none;
}

@media (min-width: 769px) {
  body {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    inline-size: 5rem;
  }
  .header {
    background: url("../assets/bg-main-desktop.png");
    flex: 1 1 32%;
    background-position: center;
  }
  .card__number {
    font-size: 1.75rem;
    letter-spacing: 3px;
  }
  .card__details {
    font-size: 1rem;
  }
  .card--front {
    inset-block-start: 1vh;
    inset-inline-end: -8.75rem;
  }
  .card--front .card-content-wrapper {
    padding: 2.25rem 2.25rem 1.2rem;
  }
  .card--back {
    inset-inline-end: -15rem;
    inset-block-start: 45vh;
  }
  .card--back .card__code {
    font-size: 1rem;
  }
  .main {
    flex: 1 1 65%;
    display: grid;
    place-items: center;
  }
  .form {
    inline-size: min(100%, 370px);
    gap: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
