$ff-primary: "Space Grotesk", sans-serif;
$fs-primary: 1.125rem;
$fw-primary: 500;

$clr-gradient-active: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$clr-red-error: hsl(0, 100%, 66%);
$clr-white: hsl(0, 0%, 100%);
$clr-violet-grayish-light: hsl(270, 3%, 87%);
$clr-violet-grayish-dark: hsl(279, 6%, 55%);
$clr-violet-very-dark: hsl(278, 68%, 11%);
